form {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 24px;
    box-shadow: 0px 4px 10px rgba(85, 84, 84, 0.101);
    border-radius: 20px;
    border-bottom: 2px solid rgb(30, 15, 4);
}
textarea {
    width: 100%;

}
#userCountry {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
}